<!DOCTYPE html>
<html>

<head>
  <title>
    Мои Прекрасные Лабораторные
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
  <script src="https://cdn.plot.ly/plotly-2.29.0.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/htmx.org@1.4.1"></script>
  <script src="https://unpkg.com/htmx.org@1.4.1/dist/ext/client-side-templates.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {},
        },
        container: {
          center: true,
        },
      }
    };
  </script>
</head>

<body>
  <div class="container mx-auto" hx-ext="client-side-templates">
    <div class="space-y-12 py-8">
      <div class="border-b border-gray-900/10 pb-12">
        <h1 class="text-xl font-semibold leading-7 text-gray-900">
          Лабораторная работа
        </h1>
        <p class="mt-1 text-sm leading-6 text-gray-600 mb-6">
          «Решение системы линейных алгебраических уравнений СЛАУ»
        </p>

        <div class="col-span-full mb-6">
          <label class="block text-sm font-medium leading-6 text-gray-900">Ручной ввод параметров</label>
          <div class="mt-2">
            <form hx-post="http://127.0.0.1:8000/linear_equation/string" hx-ext='json-enc' hx-target="#sol"
              hx-swap="innerHTML">
              <textarea id="data" name="data" rows="3"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
              <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="submit"
                  class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Рассчитать</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-span-full mb-6">
          <label class="block text-sm font-medium leading-6 text-gray-900">Ручной ввод параметров</label>
          <div class="mt-2">
            <form hx-post="http://127.0.0.1:8000/linear_equation/file" hx-encoding='multipart/form-data'
              hx-target="#sol" hx-swap="innerHTML" mustache-template="foo">
              <input id="file" name="file" type="file" rows="3"
                class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="submit"
                  class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Рассчитать</button>
              </div>
            </form>
          </div>
        </div>

        <div class="border-t border-gray-900/10 pb-12">
          <h1 class="text-xl font-semibold leading-7 text-gray-900 mt-5">
            Решение
          </h1>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-6 col-span-1">
              <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Количество
                итераций
              </label>
              <div class="mt-2">
                <!-- <input type="text" name="iter" id="iter" disabled
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" /> -->

              </div>
            </div>

            <div class="sm:col-span-6 col-span-1">
              <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Полученные данные</label>
              <div class="mt-2">
                <textarea id="sol" name="sol" rows="3" disabled
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </textarea>
              </div>
            </div>

          </div>
        </div>

        <div id="gd" class="sm:col-span-6 col-span-1"></div>

        <script>
          var trace1 = {
            x: [0.0000000000000041181059827264714, 0.21838229070275839, -0.00889396506489535, 0.10979255701566401, 0.08798048673067],
            y: [0.000000000000014471284829350633, 0.7753543029842547, 0.4924496609104434, 0.3644244267464458, 0.25489050176075168],
            // y: [1,2,3,4,5],
            // mode: 'markers',
            mode: 'markers',
            type: 'scatter',
            text: ['Вектор x1', 'Вектор x2', 'Вектор x3', 'Вектор x4', 'Вектор x5'],
            marker: {
              color: 'rgb(219, 64, 82)',
              size: 12
            }

          };

          var data = [trace1];

          var layout = {
            title: 'График решений',
            xaxis: {
              title: 'Вектор неизвестных',
              zeroline: false
            },
            yaxis: {
              title: 'Вектор погрешностей',
              zeroline: false
            }
          };

          Plotly.newPlot('gd', data, layout);
        </script>

      </div>
    </div>
  </div>
</body>

</html>